# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# project
abandoned_idea/
changelog

# idea

.env
.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.kotlin/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
